@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root{
    --text-shadow: 4px 3px 1px rgba(0, 0, 0, 0.6);
}


html{
    scroll-behavior: smooth; 
    scroll-behavior: 2s;
}
  
body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    background-color: #272727;
    background-attachment: fixed;
}

section {
    height: 100vh;
    background-position: center;
    position: relative; 

}
#home{
    height: 100%;
    overflow: hidden;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: url(img/gta-background-home.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.3; 
    z-index: -1;
}

header {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    padding-left: 300px;
}

nav > ul {
    font-size: 1rem;
    margin: 1px;
    display: flex;
    text-align: center;
    gap: 4rem;
    list-style: none;
    padding: 1rem;
    
}
nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;

}
nav ul li a:hover{
    opacity: 0.5;
}
#home-content-section{
    margin: 1rem;

}
.home-content-section {
    margin: 2.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem; 

}

#img-logo-grand-theft-auto img {
    
    height: auto;
    width: 500px;
    padding: 1rem;
    

}

.home-content-box {
    margin: 2rem;

    padding: 1rem;

}

.home-content-box > h2 {
    text-shadow: var(--text-shadow);
    padding: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffff;
    font-size: 3rem;
    margin-bottom: 1rem;
}
.home-content-box h2 a{
    list-style: none;
    text-decoration: none;
    color: inherit;
    font-size: 3.1rem;
    transition: color 0.3s ease;

}.home-content-box h2 a:hover{
    color: #fbff07

}
.home-content-box p {
    text-shadow: var(--text-shadow);
    font-weight: 600;
    color: #ffff;
    opacity: 0.9;
    font-size: 1.7rem;
    line-height: 1.7;
}


#history{
    position: relative;
    overflow: hidden;
   
    
}
#history::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: url(img/grand-theft-auto-gta-london-1969.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.2; 
    z-index: -1;
}
.history-content{
    margin: 5rem;
}
.history-content-video {
    text-align: center;
    
}

.history-content-video iframe {
    margin: 1rem;
    width: 560px;
    box-shadow: 5px 5px 10px ;
    border:4px solid #ffff; 
    box-sizing: border-box;
    border-radius: 10px;
}
.history-content-box{
    margin: 1rem;
    padding: 1rem;
}
.history-content-box > h2{ 
    text-align: center;
    text-shadow: var(--text-shadow);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffff;
    font-size: 2.5rem;
    margin-bottom: 1rem;

}.history-content-box-p > p{
    text-shadow: var(--text-shadow);
    font-weight: 600;
    color: #ffff;
    opacity: 0.9;
    font-size: 1.6rem;
    text-align: justify;
}

#game-part-one {
    position: relative;
    overflow: hidden;
    padding: 1rem;
}

#game-part-one::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: url(img/GTA-III-.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.2; 
    z-index: -1;
}

#game-part-one{
    justify-content: space-between;
    display: flex;
    padding: 1rem;
}

.game-part-one-box {
    align-items: center; 
    margin: 2rem;
    padding: 4rem;
    width: 900px;
}

.game-part-one-box > .text {
    flex: 1;
}

.game-part-one-box > h2 { 
   
    text-align: center;
    text-shadow: var(--text-shadow);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffff;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin: 1rem;
}

.game-part-one-box-p > p {
    text-shadow: var(--text-shadow);
    font-weight: 600;
    color: #ffff;
    opacity: 0.9;
    font-size: 1.6rem;
    
}
#img-logo-grand-theft-auto-3{
    margin: 5rem;
    padding: 3rem;
}

#img-logo-grand-theft-auto-3 img {
    max-width: 100%;
    height: auto;
    width: 350px;
    margin-left: 20px;
    padding-right: 4rem;
    
}


.game-part-one-box a{
    font-weight: 500;
    color: #ffffff;
    list-style: none;
    text-decoration: none;
    transition: color 0.3s ease;

}
.game-part-one-box p a:hover{
    color: #a0bd9f

}



#game-gta5 {
    align-items: center;
    position: relative;
    overflow: hidden;
    display: flex;
    padding: 1rem;
}

#game-gta5::before {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: url(img/night-cityscape-buildings-video-game-gta.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.2; 
    z-index: -1;
}

#game-gta5-img img {
    max-width: 100%;
    height: auto;
    width: 950px;
    padding-right: 10rem;
}

.game-gta5-box {
    margin: auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
    max-width: 900px;

}

.game-gta5-box > h2 {
    text-shadow: var(--text-shadow);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    font-size: 3rem;
    margin-bottom: 1rem;
    padding-right: 8rem;
}

.game-gta5-box-p > p {
    text-shadow: var(--text-shadow);
    font-weight: 600;
    color: #fff;
    opacity: 0.9;
    font-size: 1.6rem;
}
.game-gta5-box > h2 {
    text-shadow: var(--text-shadow);
    padding: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffff;
    font-size: 3rem;
    margin-bottom: 1rem;
}
.game-gta5-box h2 a{
    
    list-style: none;
    text-decoration: none;
    color: #0aff02;
    transition: color 0.3s ease;

}.game-gta5-box h2 a:hover{
    
    color: #b3b3b3

}


#game-gta6-part-one {
    align-items: center;
    position: relative;
    overflow: hidden;
    display: flex;
    padding: 1rem;
}

#game-gta6-part-one::before {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: url(img/background-gta-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.2; 
    z-index: -1;
}

#game-gta6-part-one-video {
    text-align: center;
    justify-content: center; 
    align-items: center;
    height: 100%; 
    
}

#game-gta6-part-one-video iframe {
    width: 100%;
    max-width: 560px;
    box-shadow: 5px 5px 10px ;
    border: 0px solid #000000; 
    box-sizing: border-box;
}
.game-gta6-part-one-content {
    
    margin: 2rem;
}
.game-gta6-part-one-content> h2 { 

    text-align: center;
    text-shadow: var(--text-shadow);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffff;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.game-gta6-part-one-content-box > p { 
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-shadow: var(--text-shadow);
    font-weight: 700;
    color: #ffff;
    opacity: 0.9;
    font-size: 1.6rem;
    text-align: justify;
    display: block;
    margin: 4rem;
    
    
}
.game-gta6-part-one-content h2 > a{
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    font-size: 2.8rem;
    transition: color 0.3s ease;
}
.game-gta6-part-one-content h2 > a:hover{
    color: #e595fd;
    font-weight: 500;

}

.game-gta6-part-one-content p > a{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.8rem;
    transition: color 0.3s ease;
}

.game-gta6-part-one-content p > a:hover{
    color: #e595fd;

}

#game-gta6-part-two {
    align-items: center;
    position: relative;
    overflow: hidden;
    display: flex;
    padding: 1rem;
}

#game-gta6-part-two::before {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: url(img/background-gta6-2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.2; 
    z-index: -1;
}
.game-gta6-part-two-content{
    padding: 3rem;
    margin: 1rem;
}
.game-gta6-part-two-content > h2 { 
   
    text-align: center;
    text-shadow: var(--text-shadow);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffff;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.game-gta6-part-two-content > p {
    text-shadow: var(--text-shadow);
    font-weight: 600;
    color: #ffff;
    opacity: 0.9;
    font-size: 1.8rem;
    margin: 2rem;
   
    text-align: justify;
    
    
}

#about {
    align-items: center;
    position: relative;
    overflow: hidden;
    display: flex;
    padding: 1rem;
}

#about::before {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: url(img/ocean-backgroubd-gta-5-live.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.2; 
    z-index: -1;
}


.about-content > h2 { 
   
    text-align: center;
    text-shadow: var(--text-shadow);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffff;
    font-size: 2.5rem;
    
}

.about-content > p {
    text-shadow: var(--text-shadow);
    font-weight: 600;
    color: #ffff;
    opacity: 0.9;
    font-size: 1.7rem;
    line-height: 1.7;
    margin: 1rem;
    padding: 3rem;
    
}

.list-ref-box ul {
    font-family: "Bebas Neue", sans-serif;
    list-style-type: none;
    padding: 0;
    text-align: center;

}

.list-ref-box ul li {
    
    display: inline;
    margin: 0 10px;
    text-shadow: var(--text-shadow)
}
.list-ref-box ul li a {
    color: #fff;
    text-decoration: none;

}

#list-ref-box-rockstar a:hover{
    color: #fbff07;
}
#list-ref-box-ign a:hover{
    color: #ff0707;
}
#list-ref-box-blog a:hover{
    color: #ff07c1;
}


footer {
    padding: 1rem 0 0.1rem ;
    background-color: #000;
    color: #fff;
    text-align: center;
    width: 100%;
  }
footer ul {
    font-family: "Bebas Neue", sans-serif;
    list-style-type: none;
    padding: 0;
    background-color: #000000;
}
  footer ul li {
    display: inline;
    margin: 0 10px;
}
  footer ul li a {
    color: #fff;
    text-decoration: none;
}
  footer ul li a:hover {
    text-decoration: underline
}

@media (max-width: 992px) {

     body {
        font-size: 1.4rem;
    }

    header {
        padding-left: 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    nav > ul {
        gap: 1rem;
        
        padding: 0.5rem;
    }

    .home-content-section {
        margin: 1rem;
        flex-direction: column;
        align-items: center;
    }

    #img-logo-grand-theft-auto img {
        width: 0;
        padding: 1rem 0;
    }

    .history-content-box-p {
        padding: 1rem;
        font-family: 1.6rem;
    }

    #history {
        padding: 0.5rem;
    }

    .history-content {
        margin: 1rem;
    }

    .history-content-video iframe {
        width: 1% auto;
        margin: 1rem auto;
    }

    .history-content-box {
        margin: 1rem 0;
        padding: 1rem;
    }

    #game-part-one {
        flex-direction: column;
        padding: 0.5rem;
    }

    

    .game-part-one-box {
        width: 400px;
        margin: 1rem;
    }

    #img-logo-grand-theft-auto-3 img {
        width: 400px;
        padding: 1rem 0;
    }

    #game-gta5 {
        font-size: 1rem;
    }
    .game-gta5{
        width: 1px;
        padding: 0;
        font-size: 1rem;
        height: auto;
    }
    #game-gta5-img img {
        width: 90%;
        padding: 1rem 0;
    }
    .game-gta5-box {
        margin: 1rem;

    }
    .game-gta5-box h2{
        margin: 0;
        font-size: 1rem;
    }

    .game-gta6-part-one-content {
        
        margin: 2rem;
        padding: 0.5rem;
    }

    #game-gta6-part-one-video iframe {
        width: 50% auto;
        
    }

    .game-gta6-part-one-content-box p {
        font-size: 1.4rem;
        padding: 0.5rem;
        margin: 1rem;
    }
    #game-gta6-part-two {
        flex-direction: column;
        padding: 0.5rem;
    }

    .game-gta6-part-two-content {
        padding: 2rem;
        margin: 1rem 0;
    }

    #about {
        flex-direction: column;
        padding: 0.5rem;
    }

    .about-content {
        padding: 2rem;
        margin: 1rem 0;
    }

    .list-ref-box ul {
        flex-direction: column;
        padding: 1rem;
    }

    footer {
        padding: 1rem 0;
    }

    footer ul {
        flex-direction: column;
    }
}

@media (max-width: 768px) {

    body {
        font-size: 1.4rem;
    }

    header {
        padding-left: 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    nav > ul {
        gap: 1rem;
        flex-direction: column;
        padding: 0.5rem;
    }

    .home-content-section {
        margin: 1rem;
        flex-direction: column;
        align-items: center;
    }

    #img-logo-grand-theft-auto img {
        width: 300px;
        padding: 1rem 0;
    }

    .home-content-box {     
        width: 100%;
        padding: 1rem;
        margin: 1rem 0;
    }
    .home-content-box p{
        font-size: 1.2rem;
    }

    #history {
        padding: 0.5rem;
    }    
    .history-content{
        margin: 1rem;
    }

    .history-content-box{
        padding: 0;
        

    }
    .history-content-box-p p{
        font-size: 0.9rem;
        padding: 0;
       
    }
    .history-content-box h2{
        font-size: 1.5rem;
    }

    .history-content-video iframe {
        width: 300px;
        height: auto;
    }

    #game-part-one {
        margin: 0;
        padding: 0;
        
    }
    .game-part-one-box{
        padding: 0;
        width: 90%;
        margin:1rem;
    }

    .game-part-one-box-p > p {
        font-size: 1rem;
        margin: 1rem 0;
    }

    #img-logo-grand-theft-auto-3 img {
        width: 0;
       
    }

    #game-gta5 {
        display: flex;
        flex-direction: column;
        justify-items: center;
        
    }

    #game-gta5-img img {
        width: 240px;
        height: auto;  
    }
    .game-gta5{
        margin: 1rem;
        width: 350px;
        height: auto;
        justify-items: center;
    }



    .game-gta5-box {
        font-size: 1rem;
        padding: 0;
    }



    .game-gta5-box h2 {
        font-size: 1rem;
    }
    .game-gta5-box-p{
        padding: 1rem;
        font-size: 1rem;
        height: auto;
        
    }

    .game-gta5-box-p > p {
        font-size: 1rem;
        text-align: justify;
    }

    .game-gta6-part-one-content {
        margin: 2rem;
        padding: 0.5rem;
    }

    #game-gta6-part-one-video iframe {
        
        width: 30% auto;
        
    }

    .game-gta6-part-one-content-box  p {

        font-size: 1rem;
        padding: 0.5rem;
        margin: 0.5rem;
    }

    .game-gta6-part-one-content-box > a {

        font-size: 1rem;
        padding: 0.5rem;
        margin: 0.5rem;
    }

    #game-gta6-part-two {
        flex-direction: column;
        padding: 0.5rem;
    }

    .game-gta6-part-two-content {
        padding: 2rem;
        margin: 1rem 0;
    }

    #about {
        flex-direction: column;
        padding: 0.5rem;
    }

    .about-content {
        padding: 2rem;
        margin: 1rem 0;
    }

    .list-ref-box ul {
        flex-direction: column;
        padding: 1rem;
    }

    footer {
        padding: 1rem 0;
    }

    footer ul {
        flex-direction: column;
    }
}




@media (max-width: 768px) {
    header {
        padding-left: 0;
    
        align-items: center;
    }
    nav > ul {  
        gap: 1rem;
    }
}

nav > ul {
    
    margin: 1px;
    display: flex;
    text-align: center;
    gap: 2rem;
    list-style: none;
    padding: 1rem;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    padding: 0.5rem 0; 
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: yellow;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
    
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav ul li a:hover {
    opacity: 1; 
}  